
<header>
    <div>
      <label class="logo">Travel Deal</label>
      <nav>
        <ul>
          <li><a href="index.html">HOME</a> </li>
          <li><a href="destinations.html">DESTINATIONS</a> <li>
          <li><a href="register.html">REGRISTER</a> </li>
          <li><a href="login.html">LOGIN</a> </li>
          <li><a href="#contact-us">Contact US</a></li>
          </ul>
      </nav>
    </div>
</header>