<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery with forEach</title>
  <%- include('./partials/css'); %>
</head>
<body>
  <%- include('./partials/header'); %>
  <main class="gallery">
  </main>
  <%- include('./partials/footer'); %>
  <%- include('./partials/gallery-js'); %>
</body>
</html>